<!--begin::Portlet-->
<div class="m-portlet m-portlet--space">
    <div class="m-portlet__head">
        <div class="col-md-6">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Meeting List
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-primary" onclick="addMeeting()"> Add Meeting</button>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="row">
            <div class="col-md-12">
                <div class="meeting_list"></div>
            </div>
        </div>
    </div>
</div>

<!--end::Portlet-->


<!--begin:: Add Meeting Modal-->

<div class="modal fade" id="addMeetingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Meeting 
                (<a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">
                    <span class="m-menu__link-title"> 
                        <span class="m-menu__link-wrap"> 
                            <span class="m-menu__link-badge">
                                <span class="m-badge m-badge--brand m-badge--wide" id="addMeetingClock" style="font-size: 20px;"></span>
                            </span>
                        </span>
                    </span>
                </a>)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="addMeetingForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="meetingName" class="form-control-label">Meeting Name:</label>
                                <input type="text" class="form-control" id="meetingName" name="meetingName" placeholder="Please enter meeting name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="meetingId" class="form-control-label">Meeting Id:</label>
                                <input type="text" class="form-control" id="meetingId" name="meetingId" placeholder="Please enter meetingId">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="meetingDate" class="form-control-label">Meeting Date</label>
                                <input type="text" class="form-control" id="meetingDate" name="meetingDate" readonly placeholder="Please Select metting date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="meetingTime" class="form-control-label">Meeting Time</label>
                                <input type="text" class="form-control" id="meetingTime" name="meetingTime" readonly placeholder="Please Select metting Time" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="meetingDuration" class="form-control-label">Meeting Duration:</label>
                                <input type="text" class="form-control" id="meetingDuration" name="meetingDuration" value="0:05:00" readonly placeholder="Please Select meeting duration">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="meetingParticipant" class="form-control-label">Total Participant:</label>
                                <input type="text" class="form-control" id="meetingParticipant" name="meetingParticipant" placeholder="Please enter total participant">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="meetingPassword" class="form-control-label">Password:</label>
                                <input type="password" class="form-control" id="meetingPassword" name="meetingPassword" placeholder="Please enter password">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="meetingConfirmPassword" class="form-control-label">Confirm Password:</label>
                                <input type="password" class="form-control" id="meetingConfirmPassword" name="meetingConfirmPassword" placeholder="Please enter Confirm Password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="addMeetingBtn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--end:: Addb Meeting Modal-->


<!--begin:: Update Meeting Modal-->

<div class="modal fade" id="editMeetingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Meeting  
                (<a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">
                    <span class="m-menu__link-title"> 
                        <span class="m-menu__link-wrap"> 
                            <span class="m-menu__link-badge">
                                <span class="m-badge m-badge--brand m-badge--wide" id="updateMeetingClock" style="font-size: 20px;"></span>
                            </span>
                        </span>
                    </span>
                </a>)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="editMeetingForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editMeetingName" class="form-control-label">Meeting Name:</label>
                                <input type="text" class="form-control" id="editMeetingName" name="editMeetingName" placeholder="Please enter meeting name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editMeetingId" class="form-control-label">Meeting Id:</label>
                                <input type="text" class="form-control" id="editMeetingId" name="editMeetingId" readonly placeholder="Please enter meetingId">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editMeetingDate" class="form-control-label">Meeting Date</label>
                                <input type="text" class="form-control" id="editMeetingDate" name="editMeetingDate" readonly placeholder="Please Select metting date" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editMeetingTime" class="form-control-label">Meeting Time</label>
                                <input type="text" class="form-control" id="editMeetingTime" name="editMeetingTime" readonly placeholder="Please Select metting Time" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editMeetingDuration" class="form-control-label">Meeting Duration:</label>
                                <input type="text" class="form-control" id="editMeetingDuration" name="editMeetingDuration" readonly placeholder="Please Select meeting duration">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="editMeetingParticipant" class="form-control-label">Total Participant:</label>
                                <input type="text" class="form-control" id="editMeetingParticipant" name="editMeetingParticipant" placeholder="Please enter total participant">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="editMeetingUpdateId" name="editMeetingUpdateId">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="updateMeetingBtn">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--end:: Update Meeting Modal-->

<!--begin:: Monitor Modal-->

<div class="modal fade" id="monitorMeetingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Meeting Monitor (<span id="monitorMeetingTitle"></span>) 

                (<a href="javascript:;" class="m-menu__link m-menu__toggle" title="Non functional dummy link">
                    <span class="m-menu__link-title"> 
                        <span class="m-menu__link-wrap"> 
                            <span class="m-menu__link-badge">
                                <span class="m-badge m-badge--brand m-badge--wide" id="monitorMeetingClock" style="font-size: 20px;"></span>
                            </span>
                        </span>
                    </span>
                </a>)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="monitorMeetingDuration" name="monitorMeetingDuration" value="00:00:00" readonly placeholder="Please plus/minus duration">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" id="monitorMeetingPlusBtn" onclick="meetingScheduler('Plus')">+</button>
                                    <button type="button" class="btn btn-primary" id="monitorMeetingMinusBtn" onclick="meetingScheduler('Minus')">-</button>
                                </div>
                            </div>
                        </div>
                
                        <div class="digital_watch_container center" >
                            <div id="timer" class="timer well">
                                <div class="clock-wrapper">
                                    <span class="hours">00</span>
                                    <span class="dots">:</span>
                                    <span class="minutes">00</span>
                                    <span class="dots">:</span>
                                    <span class="seconds">00</span>
                                </div>
                            </div>
                            <div class="resume_start_btn">
                                <div class="toggle green" onClick="onClock()">
                                  <input type="checkbox">
                                  <span class="button"></span>
                                </div>
                                <div class="toggle yellow" onClick="pauseClock()">
                                  <input type="checkbox">
                                  <span class="button"></span>
                                </div>
                                <div class="toggle red" onClick="stopClock()">
                                  <input type="checkbox">
                                  <span class="button"></span>
                                </div>
                                <div class="d_logo">
                                  <img src="<%= base_url %>/demo/default/base/d_logo.png">
                                </div>
                            </div>
                        </div>
                        
                        <input type="hidden" name="monitorMeetingId" id="monitorMeetingId">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end:: Monitor Modal-->